#app {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.nav {
  text-align: center;
  background: #0091EA;
  border-top: 5px solid #0091EA;
  border-bottom: 5px solid #80D8FF;
}

.nav .container {
  margin: 5px;
}

.nav-title {
  color: #80D8FF;
  font-size: 48px;
}

.nav-title:hover {
  color: #40C4FF;
}

.loading.hide {
  display: block;
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: #0091EA;
}

.container {
  padding: 5px;
}

.loading-icon {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loading-icon .text {
  display: block;
  font-size: 48px;
}

.loading-icon .fa {
  display: block;
  font-size: 48px;
}

aside {
  z-index: 10;
  background-color: #1565C0;
  width: 200px;
  max-height: 100%;
  overflow: scroll;
  position: absolute;
  /* This transform moves the drawer off canvas. */
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}

aside.open {
  /* This transform moves the drawer off canvas. */
  -webkit-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

.directory-elem {
  display: block;
}

.directory-elem:hover {
  cursor: pointer;
  color: #80D8FF;
}

.hide {
  display: none;
}

.title {
  text-align: center;
  font-size: 32px;
  background: #FFE0B2;
  border-bottom: 3px solid #FF9800;
}

.title p {
  display: inline-block;
}

.root-part {
  display: inline-block;
}

.root-part.active {
  font-weight: bold;
}

.root-part:hover {
  cursor: pointer;
}

.root-part.underline {
  border-bottom: 1px solid;
}

.root-part.overline {
  border-top: 1px solid;
}

.root-info.hide {
  display: none;
}

.root-info.active {
  display: block;
}

.meaning {
  text-align: center;
  background: #C8E6C9;
  border-bottom: 3px solid #4CAF50;
}

@media only screen and (min-width: 500px) {
  #app {
    margin: 0 auto;
    max-width: 500px;
  }
}
