.nav {
  text-align: center;
  background: #0091EA;
  border-top: 5px solid #0091EA;
  border-bottom: 5px solid #80D8FF;
}

.nav .container {
  margin: 5px;
}

.nav-title {
  color: #80D8FF;
  font-size: 48px;
}

.nav-title:hover {
  color: #40C4FF;
}

.loading.hide {
  display: block;
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: #0091EA;
}

.container {
  padding: 5px;
}

.loading-icon {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loading-icon .text {
  display: block;
  font-size: 48px;
}

.loading-icon .fa {
  display: block;
  font-size: 48px;
}

.hide {
  display: none;
}

.title {
  text-align: center;
  font-size: 32px;
  background: #FFE0B2;
  border-bottom: 3px solid #FF9800;
}

.root-part {
  display: inline-block;
}

.root-part:hover {
  font-weight: bold;
  cursor: pointer;
}

.root-part:nth-of-type(even) {
  border-top: 1px solid
}

.root-part:nth-of-type(odd) {
  border-bottom: 1px solid;
}

.root-info {
  display: none;
}

.root-info.active {
  display: block;
}

.meaning {
  text-align: center;
  background: #C8E6C9;
  border-bottom: 3px solid #4CAF50;
}
